[submodule "externals/slidesjs"]
	path = externals/slidesjs
	url = https://github.com/thinsoldier/SlidesJS-Examples.git
[submodule "externals/stanfordplaylist"]
	path = externals/stanfordplaylist
	url = https://thinsoldier@github.com/thinsoldier/StanfordDbPlaylist.git
[submodule "externals/centerimage"]
	path = externals/centerimage
	url = https://thinsoldier@github.com/thinsoldier/CenterImage.git
[submodule "externals/slidesjs-jumpstart"]
	path = externals/slidesjs-jumpstart
	url = https://thinsoldier@github.com/thinsoldier/SlidesJS-JumpStart.git
[submodule "externals/khanjs"]
	path = externals/khanjs
	url = https://github.com/thinsoldier/khanacademyJS.git
[submodule "externals/grade-range"]
	path = externals/grade-range
	url = https://github.com/thinsoldier/grade-range.git
[submodule "externals/bahamas-map"]
	path = externals/bahamas-map
	url = https://thinsoldier@github.com/thinsoldier/interactive-bahamas-map.git
